<%- include("partials/header") -%>
<div class="main-content">
  <h1>Hello Admin</h1>
  <hr />
  <p>NPTEL compose page</p>
  <div>
    <label for="formFile" class="form-label">Upload Answer Image</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
  <form action="/composeNPTEL" method="post">
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label class="form-label">Course Name:</label>
        <input type="text" class="form-control" name="nptel_courseName" />
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Week :</label>
        <input class="form-control" type="text" name="weekNumber" />
      </div>
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_1" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_1" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_2" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_2" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_3" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_3" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_4" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_4" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_5" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_5" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_6" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_6" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_7" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_7" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_8" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_8" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_9" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_9" />
    </div>
    <hr />
    <div class="form-group mb-3">
      <label class="form-label">Question-</label>
      <input class="form-control" type="text" name="question_10" />
      <label class="form-label">Answer:</label>
      <input class="form-control" type="text" name="answer_10" />
    </div>
    <hr />
    <hr class="mb-3" />
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>

<%- include("partials/footer") -%>
