<%- include("partials/header") -%>

<div class="container">
  <h1 style="text-align: center">NPTEL</h1>
  <hr />
  <div id="sem_cards" class="row main-content row gy-2 gx-3 align-items-center">
    <% foundNptels.forEach(function(foundNptels){ %>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <a href="/nptel/<%= foundNptels.nptel_name %> ">
          <h2 style="padding: 10px; text-align: center">
            <%= foundNptels.nptel_name %>
          </h2>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer") -%>
