<%- include("partials/header") -%>
<!-- Home Page of sem-->

<section id="sem_intro">
  <img src="Images/laptop.png" width="70%" alt="" />
  <h1>Even though I’m my wife’s third husband</h1>
  <h5>She still treats me like number two.</h5>
</section>

<section id="sem_cards">
  <div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="Images/oops.webp" class="card-img-top" />
          <div class="card-body">
            <h1 class="card-title">C Programming</h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content.
            </p>
            <a href="/sem3/oops" class="btn bg-danger">Let's Gooo</a>
          </div>
          <div class="card-footer">
            <small>Latest updated for 2023</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="Images/DBMS.png" class="card-img-top" />
          <div class="card-body">
            <h1 class="card-title">DBMS</h1>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
            <a href="#" class="btn bg-success">Let's Gooo</a>
          </div>
          <div class="card-footer">
            <small>Latest updated for 2023</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="Images/18824957.jpg" class="card-img-top" />
          <div class="card-body">
            <h1 class="card-title">DSA</h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content.
            </p>
            <a href="#" class="btn bg-warning">Let's Gooo</a>
          </div>
          <div class="card-footer">
            <small>Latest updated for 2023</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learn_more">
  <h1>Learn Other Skills -</h1>
  <h5>
    Amazing Courses from our Developers, <br />
    Complete with Hand-Written notes,<br />
    code examples and study materials
  </h5>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div class="col">
      <div class="card index_card mb-3" style="max-width: 18rem">
        <div class="card-header">Web Development</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card index_card mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card index_card mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card index_card mb-3" style="max-width: 18rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
